# Application Configuration
PORT=8080

# MongoDB Atlas Connection
SPRING_DATA_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.aoda8xk.mongodb.net/?appName=Cluster0
SPRING_DATA_MONGODB_DATABASE=vehicledb

# Admin Authorization Key
ADMIN_SECRET_KEY=your_admin_secret_key

# Mail Service Credentials (Optional)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_app_password
